* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.4%;
}

.main-game {

}

.game-layout {

  max-width: 64rem; 
	margin: 15rem auto;
	background-color: #fff;
  height: 64rem;
  position: relative;

}

.vertical-1, .vertical-2{
  display: inline-block;
  height: inherit;
  width: 2rem;
  background-color: #777;
  position: absolute;
}



.horizontal-1, .horizontal-2{
  display: inline-block;
  width: 64rem;
  height: 2rem;
  background-color: #777;
  position: absolute;
}

.vertical-1{
  top: 0rem;
  left: 20rem;
}


.vertical-2{
  top: 0rem;
  right: 20rem;
}


.horizontal-1{
  top: 20rem;
}

.horizontal-2{
  bottom: 20rem;
}