* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.4%;
}

.main-game {

}

.game-layout {

  max-width: 64rem; 
	margin: 15rem auto;
	background-color: orangered;
  height: 64rem;
  position: relative;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);

}
.items{
  background-color: #999;
}
.vertical-1, .vertical-2, .horizontal-1, .horizontal-2{
  display: inline-block;
  background-color: #777;
  position: absolute;
  border-radius: 100rem;
}

.vertical-1, .vertical-2{
  display: inline-block;
  height: 66rem;
  width: 2rem;
  background-color: #777;
  position: absolute;
  top: -1rem;
}



.horizontal-1, .horizontal-2{
  display: inline-block;
  width: 66rem;
  height: 2rem;
  background-color: #777;
  position: absolute;
  left: -1rem;
}

.vertical-1{
  left: 20rem;
}

.vertical-2{
  right: 20rem;
}


.horizontal-1{
  top: 20rem;
}

.horizontal-2{
  bottom: 20rem;
}